@import "tailwindcss";
@source "../../../../packages/ui/";
@source "../../../../packages/web/";

@theme {
  --font-key: var(--font-russo);
  --font-body: var(--font-roboto);
  --color-red: red;
  --color-blue: blue;
}

h1,
h2,
h3,
h4 {
  @apply font-key uppercase tracking-[0.2em];
}

body {
  @apply relative flex flex-col font-body tracking-wide;
}

.test {
  @apply border border-[red];
}
